# composer
/vendor/
/composer.lock

# php (phpunit)
/build/
/.phpunit.result.cache

# phar build output
/dist/

# benchmark baseline snapshot (release-scoped, written by `make bench-baseline`)
/baseline.md

/.php-cs-fixer.cache
/.phpstan.cache/
/.phpunit.cache/

# ide
/.idea/
/.phan/cache/
/CLAUDE.md
/AGENTS.md
